<a href="https://colab.research.google.com/github/almsalahuddin/Data-Processing-and-Visualization/blob/main/Dates.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Quiz 16 # : CPSMA 4313 [Dr. Jacob's](https://github.com/nurfnick) Data processing visualization

## Dates

### A L M SALAHUDDIN

##Import data

First, i will import the libraries and load the csv file to wrok on.

In [19]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/IOT-temp.csv')

df.head(15)

                                     id  room_id/id  ... temp  out/in
0   __export__.temp_log_196134_bd201015  Room Admin  ...   29      In
1   __export__.temp_log_196131_7bca51bc  Room Admin  ...   29      In
2   __export__.temp_log_196127_522915e3  Room Admin  ...   41     Out
3   __export__.temp_log_196128_be0919cf  Room Admin  ...   41     Out
4   __export__.temp_log_196126_d30b72fb  Room Admin  ...   31      In
5   __export__.temp_log_196125_b0fa0b41  Room Admin  ...   31      In
6   __export__.temp_log_196121_01544d45  Room Admin  ...   29      In
7   __export__.temp_log_196122_f8b80a9f  Room Admin  ...   29      In
8   __export__.temp_log_196111_6b7a0848  Room Admin  ...   29      In
9   __export__.temp_log_196112_e134aebd  Room Admin  ...   29      In
10  __export__.temp_log_196108_4a983c7e  Room Admin  ...   42     Out
11  __export__.temp_log_196108_4a983c7e  Room Admin  ...   42     Out
12  __export__.temp_log_196101_d5ec7633  Room Admin  ...   29      In
13  __export__.temp_log_196099_3b8ef67b  Room Admin  ...   29      In
14  __export__.temp_log_196095_788b2c27  Room Admin  ...   29      In

[15 rows x 5 columns]

Lets see what kind of datasets we have.

In [5]:
df.dtypes

id            object
room_id/id    object
noted_date    object
temp           int64
out/in        object
dtype: object

##Convert the noted_date into DateTime, it is in day-month-Year Hour:Minute format.

Next, I will convert the noted_date into DateTime, it is in day-month-Year Hour:Minute format.

In [18]:
df.noted_date=pa.to_datetime(df.noted_date, format = '%d-%m-%Y %H:%M')
df

                                        id  room_id/id  ... temp  out/in
0      __export__.temp_log_196134_bd201015  Room Admin  ...   29      In
1      __export__.temp_log_196131_7bca51bc  Room Admin  ...   29      In
2      __export__.temp_log_196127_522915e3  Room Admin  ...   41     Out
3      __export__.temp_log_196128_be0919cf  Room Admin  ...   41     Out
4      __export__.temp_log_196126_d30b72fb  Room Admin  ...   31      In
...                                    ...         ...  ...  ...     ...
97601   __export__.temp_log_91076_7fbd08ca  Room Admin  ...   31      In
97602  __export__.temp_log_147733_62c03f31  Room Admin  ...   31      In
97603  __export__.temp_log_100386_84093a68  Room Admin  ...   31      In
97604  __export__.temp_log_123297_4d8e690b  Room Admin  ...   31      In
97605  __export__.temp_log_133741_32958703  Room Admin  ...   31      In

[97606 rows x 5 columns]

Above, we can see it's not quit working. So, I will try another method now to make it work.

In [14]:
pa.to_datetime(df.noted_date, format='%d-%m-%Y %H:%M')

0       2018-12-08 09:30:00
1       2018-12-08 09:30:00
2       2018-12-08 09:29:00
3       2018-12-08 09:29:00
4       2018-12-08 09:29:00
                ...
97601   2018-07-28 07:07:00
97602   2018-07-28 07:07:00
97603   2018-07-28 07:06:00
97604   2018-07-28 07:06:00
97605   2018-07-28 07:06:00
Name: noted_date, Length: 97606, dtype: datetime64[ns]

##What is the minimum and maximum date and time?

Next, I will find out the minimum and maximum date and time

In [36]:
Date_time=df["noted_date"]
min_date=Date_time.min()
max_date=Date_time.max()
print("Minimum date and time is: ",min_date)
print("Maximum date and time is: ",max_date)

Minimum date and time is:  01-11-2018 00:06
Maximum date and time is:  31-10-2018 23:57