<a href="https://colab.research.google.com/github/almsalahuddin/Data-Processing-and-Visualization/blob/main/Ints_and_Floats.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Quiz 17 # : CPSMA 4313 [Dr. Jacob's](https://github.com/nurfnick) Data processing visualization

## Ints and Floats

### A L M SALAHUDDIN

##Importing Libraries & Making Requests

First, Let's import the libraries to read data and make request to read the iris csv file.

In [2]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/iris.csv')
df

     SepalLength  SepalWidth  PedalLength  PedalWidth           Class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

#Does converting SepalLength to integer increase or decrease the mean?

Before we convert SepalLength data to integer, we have to find out what this data types now.

In [3]:
df.SepalLength.dtypes

dtype('float64')

As we can see above SepalLength float datatype.

Next, I will get the mean of this data as a float.

In [4]:
df.SepalLength.mean()

5.843333333333335

Now, I will convert the datatype from float to int and get the mean of the data as an int data type.

In [5]:
df.SepalLength.astype('int').mean()

5.386666666666667

After compearing both mean values we can clearly say that value of the mean decreases after converting SepalLength data from float to integer.

#Does the direction of the shift remain the same if you groupby Class?

First, Let's rearrange and group our data by class.

In [14]:
df.groupby('Class')
df

     SepalLength  SepalWidth  PedalLength  PedalWidth           Class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

Above, we can see that the direction of the shift remain the same if you groupby Class.

#Gather the mean, median, count and standard deviation of all columns when grouped by Class.

Finally, I will calculate the mean, median, count and standard deviation of all columns of the dataset.

In [9]:
df.groupby('Class').agg(['mean','median','count', 'std'])

                SepalLength               ... PedalWidth
                       mean median count  ...     median count       std
Class                                     ...
Iris-setosa           5.006    5.0    50  ...        0.2    50  0.107210
Iris-versicolor       5.936    5.9    50  ...        1.3    50  0.197753
Iris-virginica        6.588    6.5    50  ...        2.0    50  0.274650

[3 rows x 16 columns]