<a href="https://colab.research.google.com/github/almsalahuddin/Data-Processing-and-Visualization/blob/main/Quiz_13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Quiz 13 # : CPSMA 4313 [Dr. Jacob's](https://github.com/nurfnick) Data processing visualization

## Data_Types

### A L M SALAHUDDIN

# Importing Libraries

First, Let's import the libraries and read dall the ata from the given web.

In [15]:
import pandas as pa

df = pa.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/bank.csv')

df.head()

   age          job  marital  education  ... pdays  previous poutcome   y
0   30   unemployed  married    primary  ...    -1         0  unknown  no
1   33     services  married  secondary  ...   339         4  failure  no
2   35   management   single   tertiary  ...   330         1  failure  no
3   30   management  married   tertiary  ...    -1         0  unknown  no
4   59  blue-collar  married  secondary  ...    -1         0  unknown  no

[5 rows x 17 columns]

##1. What is the data type of the first column? Should you change it or is that the best data type.

Next, I will find all the data types of my dataset.

In [3]:
df.dtypes

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

Above, we can see the first column is "age". I wouldn't change anything about it becuase we all use numbers to define our age.

##2. The second column is job could you assign an order to this string? Could you assign an order the the fourth column education. If yes, what order would you assign? Do so.

I would not assign an order to second column "Job". There isn't any exact form of for this type of data to put it in order.

In [28]:
from pandas.api.types import CategoricalDtype


education= CategoricalDtype(categories=['primary', 'secondary', "tertiary"], ordered=True)

df_education =df.education.astype(education)

df_education

0         primary
1       secondary
2        tertiary
3        tertiary
4       secondary
          ...
4516    secondary
4517     tertiary
4518    secondary
4519    secondary
4520     tertiary
Name: education, Length: 4521, dtype: category
Categories (3, object): ['primary' < 'secondary' < 'tertiary']

I could definetly assign an order the the fourth column "education" because there is diffrent level of education that we can use to put this column in order. For example lower to higher education can be categorised like primary' > 'secondary' > 'tertiary.

##3. Could any of the columns have been a boolean?

As we know bolean data type means it can give either true or false value. There are total 4 columns "default", "housing", "Loan", "y" boolean data type of this dataset.

#Find one and create a new column in the dataframe that is just boolean and has a descriptive name.

Next, I will find a column which has boolean values.

In [10]:
columns_list= ["age", "job", "marital",	"education", "default",	"balance", "housing", "loan",	"contact",	"day", "month",	"duration",	"campaign",	"pdays",	"previous",	"poutcome",	"y"]
print(df["default"])

0        no
1        no
2        no
3        no
4        no
       ...
4516     no
4517    yes
4518     no
4519     no
4520     no
Name: default, Length: 4521, dtype: object

# Interesting thing about this dataset

This data set is perfect mix of numerical, categorical and boolean data sets.