<a href="https://colab.research.google.com/github/almsalahuddin/Data-Processing-and-Visualization/blob/main/Quiz_13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Quiz 13 # : CPSMA 4313 [Dr. Jacob's](https://github.com/nurfnick) Data processing visualization

## Data_Types

### A L M SALAHUDDIN

In [2]:
import pandas as pa

df = pa.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/bank.csv')

df.head()

   age          job  marital  education  ... pdays  previous poutcome   y
0   30   unemployed  married    primary  ...    -1         0  unknown  no
1   33     services  married  secondary  ...   339         4  failure  no
2   35   management   single   tertiary  ...   330         1  failure  no
3   30   management  married   tertiary  ...    -1         0  unknown  no
4   59  blue-collar  married  secondary  ...    -1         0  unknown  no

[5 rows x 17 columns]

In [3]:
import numpy as np

df1 = pa.get_dummies(data = df)

X = np.array(df1)

X

array([[  30, 1787,   19, ...,    1,    1,    0],
       [  33, 4789,   11, ...,    0,    1,    0],
       [  35, 1350,   16, ...,    0,    1,    0],
       ...,
       [  57,  295,   19, ...,    1,    1,    0],
       [  28, 1137,    6, ...,    0,    1,    0],
       [  44, 1136,    3, ...,    0,    1,    0]])