<a href="https://colab.research.google.com/github/almsalahuddin/Data-Processing-and-Visualization/blob/main/String_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Quiz 15 # : CPSMA 4313 [Dr. Jacob's](https://github.com/nurfnick) Data processing visualization

## String Cleaning

### A L M SALAHUDDIN

First, Lets import our libraries and make request to load our data.

In [1]:
import requests
import pandas as pa
from bs4 import BeautifulSoup


r = requests.get('https://en.wikipedia.org/wiki/List_of_highest_mountains_on_Earth')
html_contents = r.text
html_soup = BeautifulSoup(html_contents,"lxml")
tables = html_soup.find_all('table',class_="wikitable")

df1 = pa.read_html(str(tables))[0]
df1.columns = df1.columns.droplevel(0).droplevel(0)
df1.head()

  Rank[dp 1]  ... Country (disputed claims in italics)
0          1  ...                           NepalChina
1          2  ...              Pakistan[dp 8]China[12]
2          3  ...                           NepalIndia
3          4  ...                           NepalChina
4          5  ...                           NepalChina

[5 rows x 13 columns]

Next, I will print our column names in the dataframe df1.

In [33]:
df1.columns

Index(['Rank[dp 1]', 'Mountain name(s)', 'm', 'ft', 'm', 'ft', 'Range',
       'Coordinates[dp 4]', 'Parent mountain[dp 5]', '1st', 'y', 'n',
       'Country (disputed claims in italics)'],
      dtype='object')

Now, I will remove notes inside square brackets.

In [51]:
df1_rem_notes=df1.columns.map(lambda s: re.sub(r"\[(.+)\]","",s))
df1_rem_notes

Index(['Rank', 'Mountain name(s)', 'm', 'ft', 'm', 'ft', 'Range',
       'Coordinates', 'Parent mountain', '1st', 'y', 'n',
       'Country (disputed claims in italics)'],
      dtype='object')

Next, I will remove all the parenthesis and notes inside it.

In [50]:
df1_rem_parenthesis=df1_rem_notes.map(lambda s: re.sub(r"\((.+)\)","",s))
df1_rem_parenthesis

Index(['Rank', 'Mountain name', 'm', 'ft', 'm', 'ft', 'Range', 'Coordinates',
       'Parent mountain', '1st', 'y', 'n', 'Country '],
      dtype='object')

After that, I will remove all the unnecessary spaces.

In [48]:
df1_rem_spaces=df1_rem_parenthesis.map(lambda s: re.sub(r" ", "",s))
df1_rem_spaces

Index(['Rank', 'Mountainname', 'm', 'ft', 'm', 'ft', 'Range', 'Coordinates',
       'Parentmountain', '1st', 'y', 'n', 'Country'],
      dtype='object')

Finally, I will capitalize all the front latter.

In [49]:
df1_capitalize=df1_rem_spaces.map(lambda s: s.capitalize())
df1_capitalize

Index(['Rank', 'Mountainname', 'M', 'Ft', 'M', 'Ft', 'Range', 'Coordinates',
       'Parentmountain', '1st', 'Y', 'N', 'Country'],
      dtype='object')

In [24]:
df1.iloc[:,-1]

0                            NepalChina
1               Pakistan[dp 8]China[12]
2                            NepalIndia
3                            NepalChina
4                            NepalChina
                     ...
115                               China
116                          NepalChina
117                  BhutanChina[dp 18]
118    IndiaChina[dp 10][dp 11]'[dp 12]
119                      Pakistan[dp 8]
Name: Country (disputed claims in italics), Length: 120, dtype: object

As we can see above, we got dirty output. It doesn't seem clean due to a lot of unnecessary notes showing inside square brackets and there is no spaces and comma in between the countries name. In order to clean this data, all we have to do is get rid of those dirty notes, put spaces and add comma in between countries. We can do that easily using a packege called Regular Expression(RegEx). It helps to modify the data and make the necessary changes to make our data clean.